ebin/
_build/
rel/butler_server/
rel/files/sys.config
.vim.session
priv/*.conf
deps/
venv/
logs/
log/
cover/
*.pyc
apps/ims/src/analytics/DB_backups/
apps/ims/src/analytics/State_backups/
rel/files/sys.config_backup
priv/masterdata_updated.csv
priv/mockput_updated.csv
priv/outbound_updated.csv

Mnesia.butler_server*/
Mnesia.mnesia_backup_viewer*/
mnesia_backups/
doc/*.html
doc/edoc-info
doc/erlang.png
doc/stylesheet.css
doc/_build
__pycache__
priv/*.pdf
priv/nfs.dSYM
butler_server.d
ims.d
pf.d
butler_shared.d
butler_base.d
mhs.d
priv/initial_cost_calculation_ets
initial_cost_calculation_ets*
bot_details_map_dets*
NOBACKUP
*.beam
*.plt
relx
elvis
variables-ct@*
_rel
.buildinfo
.projectile
eunit_results
*.coverdata
coverage.xml
test/ct.cover.spec
ct/ct.cover.spec
dialyzer_report.txt
dialyzer_report.raw
dialyzer_report.html
elvis_report.html
dialyzer_report.txt.temp
.erlang.mk.packages.v2
*.o
priv/initial_cost_calculation
priv/nfs
priv/cg_lp_solve
ButlerServer*.deb
.idea
*.iml
*.dump
TAGS
.rebar
*.sublime-*
*~
*.swp
[#]*[#]
.\#*
/c_src/env.mk
.erlang.mk
xrefr
.ci-comment
.phabricator-lint
ci.log
.DS_Store
.vscode
