%-*-Erlang-*-
% vim: ts=8 sw=8 ft=erlang

{erl_opts, [
    debug_info,
    warn_unused_vars,
    warn_unused_import,
    warn_exported_vars,
    {parse_transform, lager_transform}
]}.

{deps, [
        {lager,         {git, "https://github.com/erlang-lager/lager.git",                {tag, "3.6.7"}}},
        {supervisor3, {git, "https://github.com/greyorange/supervisor3", {ref, "3cfd676df7"}}}
      
  ]}.

%% == Dialyzer ==

{plugins, []}.
